h2 New Entity!

input.form-control(type="text" ng-model="newEntity.name" placeholder="Entity Name (e.g. Product, Feature, User Story, Data...)")

button.btn.btn-primary(ng-click="createEntity()").
  Create Entity
